
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body style="background-image: url(../img/Log.jpg); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: #66999;"> 
<h1 style="color: #ffff;">Iniciar sesion</h1>
<form method="POST" style="color: #ffff;">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label>Usuario:</label>
        <input type="email" name="usuario" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button class="btn btn-primary">Iniciar sesion</button>
</form>
</body>